.main-form {
    border-top: 2px solid rgb(97, 109, 178);
    border-bottom: 2px solid rgb(97, 109, 178);
    width: 300px
}

.main-form .field {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.main-form .field input {
    height: 40px;
    font-size: 18px;
    width: 50%;
    padding: 10px;

    border: 1px solid gray;
}

.main-form .field input:focus {
    outline-color: rgb(97, 109, 178);
}

.main-form .field label {
    width: 50%;
}

.main-form .field select {
    width: 50%;
    height: 40px;
}

.main-form .field label {
    font-size: 18px;
}

#message {
    text-align: center;
}

#submit-field {
    justify-content: center;
    margin-bottom: 10px;
}

#submit-field button {
    background-color: rgb(97, 109, 178);
    color: white;
    border: none;

    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;

    cursor: pointer;
}